@media (max-width:1536px) {
    .main_logo_img{
        width: 80%;
    }
    .section_mexanizm_ramok{
        display: none;
    }
    .main{
        height: calc(100vh - 139px);
    }
    .banner{
        padding: 0.88rem 0;
    }
    .header__list{
        padding: 1.25rem 0;
    }
    
    .identation{
        margin-top: 7rem;
    }
    .max-w{
        font-size: 64px;
        font-weight: 500;
        line-height: 64px;
    }
    .container_icons{
        padding: 1rem 0.8rem 1.3rem 1rem;
        border: 2px dashed #99A8BF;
        border-radius: 0.375rem 0.375rem 1rem 0.375rem;
    }
    .border_dashed {
        width: 2rem;
        height: 2rem;
        max-width: 100%;
        border: 0;
        border-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0;
    }
    .flex_ramki{
        gap: 8.9rem;
        justify-content: flex-start;
    }
    .one_column{
        width: 25%;
    }
    .icons_two_columns {
        padding-top: 21px;
        
    }
    .two_column{
        column-gap: 2.6rem;
        row-gap: 3.1rem;
    }
    .title_mexanizm{
        max-width: 17.4rem;
        margin-top: 3.125rem;
    }
    .text_one_column span{
        line-height: 25px;
    }
    .text_two_column span{
        line-height: 25px;
    }
    .text_one_column{
        margin-bottom: 1.125rem;
    }
    .img_work-logo{
        max-width: 4.5rem;
        max-height: 2.5rem;
    }
    .mw19{
        max-width: 19rem;
    }
    .container_work-logo{
        padding-bottom: 0;
    }
    
}
@media (max-width: 1444px){
    .main_btn{
        margin-bottom: 2.3rem;
    }
    
    .container_form_footer{
        width: 42%;
    }
    .question-text{
        max-width: 25.7rem;
    }
    .answer p, .footer_text,.text_cards_small{
        max-width: 27rem;
    }
    .question_column_two{
        width: 69%;
    }
    .btn_footer{
        width:65.4%;
    }
    .container_title_delivery{
        padding-left: 2.4rem;
        width: 76%;
        row-gap: 4rem;
    }
    .container_item_text_gray{
        max-width: 26rem;
    }
    .container_under_video{
        max-width: 37rem;
        column-gap: 0.9rem;
    }
    .div-ul{
        padding-left: 12px;
    }
    .under_video_text {
        padding-left: 29px;
    }
    .f_size96{
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.03em;
    }
    .mr-mt2{
        margin-right: 0.7rem;
        margin-bottom: 1rem;
    }
    .f_size96{
        max-width: 55rem;
    }
    .ramki-2015{
        max-width: 50rem;
    }
    .asd h1{
        max-width: 49rem;
    }
    
    .f_size48{
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -2.5px;
    }
    
    .title_ramka, .text-2x1, .footer_text {
    font-size: 2rem;
    line-height: 42px;
    letter-spacing: -0.02em;
    }
    .f_size32{
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
    }

    .f_size24{
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    }
    .text_container_identation{
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.1px;
    }
    .one_text_text{
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0em;
    }

    .main_paragraph{
        left: 3%;
        bottom: 35%;
    }
    .main_paragraph p{
        max-width: 24rem;
    }
    .text_car{
        max-width: 25rem;
    }
    .under-container{
        padding: 1.8rem 2.5rem;
        max-width: 622px;
        max-height: 450px;
        aspect-ratio: 1/1;
    }
    .m95{
        width: 94%;
    }
    .block_advantages {
        padding: 2.5rem;
    }
    .feedback_messenger{
        max-width: 11.5rem;
    }
    .title{
        font-size: 6rem;
        line-height: 96px;
        max-width: 46rem;
        margin-top: 4rem;
        letter-spacing: -2px;
    }
    .title_ramka_ramka{
        max-width: 27rem;
    }
    .price_ramka{
        letter-spacing: -0.2px;
    }
    .title_ramka{
        max-width: 36rem;
    }
    .text_ramka{
        max-width: 35rem;
    }
    .container-pt-27 {
        padding-top: 5.3rem;
    }
    .text_colonki{
        max-width: 19rem;
        margin-top: 28px;
    }
    .text_opacity{
        max-width: 24.25rem;
    }
    .guarantee_text_column_two{
        max-width: 26.25rem;
    }
    .guarantee_text_column_two p{
        max-width: 26.25rem;
        width: 96%;
        padding-top: 28px;
    }
    .container_guarantee_two .service_text{
        width: 100%;
    }
    .text_car_moto{
        max-width: 32rem;
    }
    .mobile_text{
        font-size: 2.25rem;
    }
    .price{
        font-size: 3rem;
        letter-spacing: -0.4px;
    }
    .mt-2{
        margin-top: 2.5rem;
    }
    .mb3_car{
        padding-bottom: 1.7rem;
    }
    .under_video_title{
        letter-spacing: -0.4px;
    }
    .section_ramki_two{
        margin-top: 5rem;
    }
    strong{
        line-height: 23px;
    }
    .section_advantages{
        margin-top: 7.188rem;
    }
    .container_title_video {
        padding-bottom: 2.813rem;
        margin-top: 2rem;
    }
    .advantages_btn_consultation{
        margin-top: 2.3rem;
        margin-bottom: 0.6rem;
        padding: 1.1rem 2.9rem;
    }
    .advantages_question {
        margin-bottom: 3rem;
    }
    .under_video_text {
        row-gap: 1.88rem;
    }
    .advantages_video{
        padding-top: 46%;
    }
    .guarantee{
        margin-top: 6.625rem;
    }
    .d_none{
        display: none;
    }
    .none{
        display: block;
    }

    .video-wrapper{
        height: 41.125rem;
    }
    .question_column_one p{
        max-width: 32rem;
    }
    .pt-32{
        padding-top: 4rem;
    }
    /* grid */
    .container_grid_identation{
        grid-template-columns: 0.849fr;
        column-gap: 0;
        row-gap: 4.2rem;
        margin-top: 5.4rem;
    }
    .text_column_number b{
        font-size: 1.125rem;
    }
    .text_column_number {
        margin-top: 1.6rem;
    }
    .item_text_column h1{
        margin-left: 2rem;
    }
    .f_text_size{
        font-size: 1.467rem;
        line-height: 27px;
    }
    .text_33{
        padding-left: 2.1rem;
    }
    .item_text_column p{
        margin-left: 2.9rem;
    }
    .item_text_column{
        max-width: 22rem;
    }
    .container_block_text:nth-child(3){
        grid-column: 2;
        grid-row: 3/3;
        margin-bottom: 0;
    }
    .container_block_text:nth-child(4){
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .container_block_text:nth-child(5){
        grid-column: 1 / 2;
        grid-row: 4 / 4;
    }
    .container_block_text:nth-child(6){
        grid-column: 2 / 4;
        grid-row: 4 / 4;
    }
    .medium_text_a{
        max-width: 26rem;
    }
    .section_question{
        margin-top: 5.7rem;
    }
    .section_delivery {
        margin-top: 7.5rem;
    }
    
    .section_video {
        margin-top: 7.5rem;
    }
    .advantages_wrapper p{
        max-width: 24rem;
    }
    .text_width{
        max-width: 30rem;
    }
    .sistema_text {
        max-width: 17rem;
    }
    .text_width_two{
        max-width: 23rem;
    }
    .text_width_one{
        max-width: 23rem;
    }
    .advantages_left{
        padding: 2.1rem 2.44rem;
    }
    .pl3{
        padding-left: 2.5rem;
    }
    .ramka{
        width: 92%;
        aspect-ratio: 1/0.94;
    }
    .container_text_ramka{
        padding: 0;
    }
    .previous{
        width: 4rem;
        height: 4rem;
    }
    .buttons_ramka{
        column-gap: 0.5rem;
    }
    .section_feedback {
        margin-top: 7.2rem;
    }
    .span_text {
        letter-spacing: -2px;
    }
    .container_guarantee_one{
        margin-right: 0;
        gap: 13.2rem;
        margin-top: 6.813rem;
    }
    .container_block_garantee{
        column-gap: 1.56rem;
    }
    .main_paragraph p {
        font-size: 1.5rem;

    }
    .f_size32{
        font-size: 1.5rem;
    }
    .container_guarantee_two{
        margin-right: 0;
        margin-top: 7.875rem;
    }
    .guarantee_text_service p{
        padding-top: 1.1rem;
        font-size: 2rem;
        letter-spacing: -0.4px;
        max-width: 41rem;
    }

    .container_text_ramka h1{
        font-size: 2rem;
        letter-spacing: -0.4px;
    }
    .section_ramka{
        margin-top: 6.063rem;
    }
    .container_feedback_feedback{
        column-gap: 11.3rem;
        justify-content: flex-start;
        margin-top: 2.9rem;
    }
    .input_feedback{
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
    .textarea_feedback{
        padding-bottom: 2.25rem;
        padding-top: 0;
    }
    .mb3{
        margin-bottom: 1.3rem;
    }
    .block_advantages{
        row-gap: 4.58rem;
    }
    .text_opacity {
        padding-top: 0;
        padding-bottom: 11px;
    }
    .section_advantages_two {
        margin-top: 7.4rem;
    }
    ::placeholder{
        font-size: 1.25rem;
        line-height: 31px;
        /* letter-spacing: -0.2px; */
    }
    .button_messenger{
        width: 3rem;
        height: 3rem;
    }
    .messenger_img{
        max-width: 1.575rem;
    }
    .banner_text{
        padding-right: 2.5rem;
        padding-left: 0;
    }
    .header_ul{
        padding: 0;
        margin-left: 0;
        column-gap: 2.5rem;
    }
    .header_nav{
        max-width: 46.5625rem;
    }
    .mobile_identation{
        max-width: 20rem;
    }

}
@media (max-width: 1144px){
    .tel, .btn_zakaz {
        display: none;
    }
    .header_nav{
        display: none;
    }
    .two_column {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
        gap: 1.5rem;
    }
    
}
@media (max-width: 840px){
    .container-pt-28, .wrapper, .main_title {
        max-width: 840px;
    }
    .container_grid_identation, .container_under_video{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 640px){
    .input_footer, .input_feedback{
        font-size: 1rem;
    }
    .button_messenger_telega img{
        width: 22px;
    }
    .section_feedback, .tire,.container_grid_identation,.section_ramki_two,.section_ramka{
        margin-top: 6rem;
    }
    .tire{
        height: 92px;
    }
    .text_33, .medium_text_a,.medium_text {
        margin-left: 1.25rem;
    }
    .item_text_column h1{
        margin-left: 1.7rem;
    }
    .container-pt-28, .wrapper, .main_title {
        max-width: 640px;
    }
    .container_grid_identation{
        display: flex;
        flex-direction: column;
    }
    .text_one_column_p {
        max-width: 17rem;
    }
    .pt-32{
        padding-top: 0;
    }
    .container{
        margin-top: 2.5rem;
    }
    .car_bmw{
        height: 16%;
        max-width: 400px;
        width: 100% !important;
    }
    .container_footer{
        margin-bottom: 3rem;
    }
    .container-footer_flex{
        margin-top: 2.5rem;
    }
    .container_title_delivery{
        padding-left: 2.5rem;
        row-gap: 3rem;
    }
    .m85{
        width: 85%;
    }
    .container_title_video {
        margin-top: 1.5rem;
    }
    .advantages_video{
        padding-top: 155%;
        order: 2;
    }
    .container_guarantee_two,.container, .container_block_garantee, .container_form_feedback{
        margin-top: 3rem;
        flex-direction: column;
    }
    .under_video_text {
        padding-left: 26px;
    }
    .ul_mob{
        padding-bottom: 2rem;
    }
    .advantages_wrapper p{
        padding-top: 3.25rem;
        max-width: 19rem;
    }
    .advantages_btn_consultation{
        margin-bottom: 0;
    }
    .container-pt-27{
        max-width: 20.938rem;
        padding-top: 0;
    }
    .text_colonki{
        max-width: 21rem;
    }
    .container_work-logo{
        display: none;
    }
    .one_column,.container_footer,.container_form_footer,.btn_footer{
        width: 100%;
    }
    .main_btn{
        margin-bottom: 1.25rem;
        gap: 0.625rem;
    }
    .btn_zakaz, .tel{
        display: none;

    }
    .banner_text{
        padding: 0;
    }
    .banner{
        padding: 0.3rem 0;
    }
    .container_feedback{
        align-items: center;
        column-gap: 1.25rem;
    }
    .background_black{
        border-color: transparent;
        border: 2px solid white;
    }
    .main{
        height: calc(100vh - 71px - 37px);
    }
    .one_paragraph {
        max-width: 17rem;
        margin-bottom: 1.875rem;
    }
    .title{
        font-size: 3rem;
        line-height: 3rem;
        max-width: 20rem;
        margin-top: 3rem;
        letter-spacing: -1px;
        font-weight: 600;
    }
    .asd h1{
        max-width: 20.27rem;
        font-size: 32px;
    }
    .f_size96{
        font-size: 2.25rem;
        line-height: 2.3rem;
        letter-spacing: -0.03em;
        max-width: 18rem;
    }
    .guarantee_text_column_two p{
        padding-top: 2.2rem;
        padding-bottom: 2rem;
    }
    .container_block_garantee{
        margin-top: 2.2rem;
    }
    .guarantee_text_column_two h1{
        margin-top: 0;
    }
    .guarantee_text_service p, .container_text_ramka h1{
        font-size: 1.75rem;
    }
    .ramka{
        aspect-ratio: 1/0.89;
    }
    .section_ramka{
        margin-top: 4.7rem;
    }
    .container_guarantee_two {
        gap: 2.5rem;
        margin-top: 0;
    }
    .f_size48{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    }
    .footer_text{
        font-size: 24px;
    }
    .mobile_text{
        font-size: 36px;
        line-height: 47px;
        letter-spacing: -0.02em;
        max-width: 18rem;
    }
    .pl3{
        padding-left: 1.3rem;
    }
    .f_size32{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.01em;
    }
    .f_size24{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.2px;
    }
    .f_size20{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    }
    .f_size18{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0em;
    }
    .f_size16{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    }
    .link-banner{
        font-size: 1rem;
    }
    .main_paragraph p{
        font-size: 0.875rem;
        max-width: 14rem;
    }
    .title_mexanizm {
        margin-top: 3.4rem;
    }
    .text_colonki {
        margin-top: 34px;
    }
    .icons_two_columns {
        padding-top: 20px;
    }
    .two_column{
        gap: 4.3rem;
    }
    .main_paragraph {
        left: 6%;
        bottom: 28%;
    }
    .menus{
        z-index: -1;
        padding-top: 10px;
    }
    
    .main_btn_zakaz {
        /* padding: 0.5rem 0; */
    }
    .identation{
        margin-top: 4.6rem;
    }
    .text_one_column{
        margin-bottom: 1rem;
    }
    .container_under_video{
        flex-direction: column;
        margin-bottom: 2.3rem;
    }
    .container_title_delivery{
        width: 100%;
    }
    .flex_ramki{
        gap: 2.5rem;
        flex-direction: column;
    }
    .section_advantages{
        margin-top: 4.4rem;
    }
    .advantages_question{
        margin-bottom: 1.8rem;
    }
    .advantages{
        flex-direction: column;
    }
    .advantages_left{
        width: 100%;
        padding: 1rem 1.25rem;
    }
    .m19{
        max-width: 20rem;
    }
    .advantages_btn_consultation{
        width: 100%;
        padding: 0.9rem;
    }
    .advantages_right{
        width: 100%;
    }
    .advantages_right{
        display: flex;
        flex-direction: column;
    }
    .advantages_under_video {
        order: 1;
    }
    .guarantee_title_logo{
        display: none;
    }
    .two_text{
        margin-top: 1.938rem;
    }
    .guarantee{
        margin-top: 4.3rem;
    }
    .guarantee_text_column_two, .img_ramka,.container_text_ramka, .container_form_feedback,.text-2x1{
        width: 100%;
    }
    .container_text_ramka {
        padding-left: 0;
    }
    .previous{
        width: 2.75rem;
        height: 2.75rem;
    }
    .previous img{
        width: 16px;
    }
    .container_guarantee_one{
        margin-top: 4.6rem;
        flex-direction: column;
        gap: 0;
    }
    .text_otstup{
        margin-top: 1.35rem;
    }
    .div-ul {
        gap: 1.3rem;
    }
    .mb3{
        padding-top: 6px;
        margin-bottom: 1.7rem;
    }
    .container_form_feedback{
        margin-top: 4rem;
    }
    .mobile_video{
        padding-top: 175%;
    }
    .question_column_two{
        width: 100%;
        margin-top: 2.125rem;
    }
    .section_delivery{
        margin-top: 5rem;
    }
    .gap-y-30{
        row-gap: 0;
    }
    .mob_text_p{
        max-width: 18rem;
    }
    .container_delivery_left{
        row-gap: 1.4rem;
    }
    .py-20{
        padding-top: 1rem;
        padding-bottom: 10rem;
    }
    .section_advantages_two {
        margin-top: 4.9rem;
    }
    .section_feedback{
        margin-top: 5.1rem;
    }
    .section_video {
        margin-top: 5.1rem;
    }
    .video-wrapper{
        height: 43.125rem;
        flex: 0 0 18.75rem;
    }
    .section_question {
        margin-top: 4.7rem;
    }
    .text-main-gray {
        margin-bottom: 1.2rem;
    }
    .container_feedback_feedback {
        margin-top: 1.9rem;
        letter-spacing: -0.3px;
    }
    .left_img{
        flex-direction: column;
    }
    .title_ramka_ramka,.title_ramka{
        font-size: 1.75rem;
    }
    .f_size16{
        font-size: 0.875rem;
    }
    .container_feedback_feedback{
        flex-direction: column;
    }
    .under-container{
        padding: 0.9rem 1.25rem 1.25rem 1.25rem;
        flex-basis: calc(100%);
        margin-bottom: 1.4rem;
    }
    .mt-2{
        margin-top: 2.9rem;
    }
    .link_btn_car{
        height: 51px;
        border-color: transparent;
    }
    .link_btn_car a{
        font-size: 1rem;
    }
    .text_car, .text_car_moto{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .section_ramki_two{
        margin-top: 3.3rem;
    }
    .mb3_car{
        padding-bottom: 1.3rem;
    }
    .container_grid_identation{
        display: flex;
        flex-direction: column;
        margin-top: 3.3rem;
        row-gap: 3.2rem;
    }
    .container_question{
        flex-direction: column;
    }
    .logo_img_question{
        display: none;
    }
    
}
@media (max-width: 440px){
    .container-pt-28, .wrapper, .main_title {
        max-width: 334px;
    }
    .span_text {
        letter-spacing: -1px;
    }
    .banner_text {
        font-size: 0.75rem;
        max-width: 14rem;
        width: 100%;
        line-height: 14px;
    }
    ::placeholder{
        font-size: 1rem;
    }
    .block_advantages{
        padding: 1rem 1.25rem;
        row-gap: 2rem;
    }
    .text_opacity{
        font-size: 1.125rem;
        max-width: 18.25rem;
        margin-top: 1.875rem;
    }
    .div-ul {
        padding-left: 7px;
    }
    .title_text_two {
        max-width: 22rem;
        font-size: 2rem;
    }
    .mob_text{
        font-size: 2.25rem;
    }
    .ramki-2015{
        max-width: 18rem;
        font-size: 2.25rem;
    }
    .m95{
        width: 90%;
    }
    .under-container{
        aspect-ratio: 1/1;
    }
    .text_car{
        max-width: 16rem;
        font-size: 1.125rem;
    }
    
    
    .text_car_moto {
        max-width: 18rem;
    }
    .link_btn_car{
        font-size: 1rem;
    }
    .text_container_identation{
        max-width: 21rem;
    }
    .sistema_text{
        max-width: 17rem;
    }
    .mw19{
        max-width: 21rem;
    }
    .item_text_column h1{
        margin-left: 2.3rem;
        max-width: 15.65rem;
    }
    .text_33{
        margin-left: 2.2rem;
    }
    .typing-demo{
        font-size: 0.875rem;
    }
    .answer p{
        max-width: 16rem;
    }
    .medium_text_a{
        margin-left: 2.95rem;
        
    }
    .ramki_block {
        row-gap: 2.5rem;
    }
    .container_text_ramka {
        margin-top: 28px;
        gap: 2rem;
    }
    .text_33,.medium_text_a{
        padding: 0;
    }
    .item_text_column p{
        margin-left: 3.1rem;
        font-size: 1rem;
    }
    .mobile_identation{
        max-width: 15rem;
    }
    .guarantee_text_column_two p,.ramka{
        width: 100%;
    }
    .one_text_text{
        font-size: 1.25rem;
        max-width: 18rem;
    }
    .none,.f_text_size{
        font-size: 1.25rem;
    }
    .m85{
        width: 90%;
    }
    .footer_bottom-text_two{
        display: block;
        margin-top: 2.5rem;
    }
    .footer_bottom-text{
        display: none;
    }
    
}
@media (max-height: 640px){
    .main_paragraph {
        bottom: 29%;
    }
}
@media (max-height: 840px){
    .main_paragraph {
        bottom: 25%;
    }
}
@media (min-width: 640px){
    .container-pt-28, .wrapper, .main_title {
        max-width: 640px;
    }
    
}

@media (min-width: 768px) and (max-width:1280px){
    .main_paragraph{
        left: 8%;
        top: 40%;
       
    }
}
@media (min-width: 768px){
    .container, .wrapper, .main_title {
        max-width: 768px;
    }
}

@media (min-width: 900px){
    .container, .wrapper, .main_title {
        max-width: 900px;
    }
}
@media (min-width: 1024px){
    .container, .wrapper, .main_title {
        max-width: 1250px;
    }
    .main_btn{
        flex-direction: row;
    }
    .burger-menu{
        display: none;
    }
}
@media (min-width: 1280px){
    .container, .wrapper, .main_title {
        max-width: 1284px;
    }
    
}

@media (min-width:1536px) {
    .car_bmw{
        background-size: cover;
        height: 250px;
    }
    .container, .wrapper, .main_title {
        max-width: 1450px;
    }
    .five_text{
        margin-left: 2rem !important; 
    }
    
}

@media (min-width: 1656px){
    .container, .wrapper, .main_title {
        max-width: 1600px;
    }
    
}
@media (min-width: 1760px){
    .container, .wrapper, .main_title {
        max-width: 1760px;
    }
    
}
    
/* ------------ */